

<h3>Payments Date</h3>
<p><strong>Cruze</strong> 4th @DateTime.Now.ToString("MMMM")</p>
<p><strong>Esurance</strong> 5th @DateTime.Now.ToString("MMMM")</p>
<p><strong>Cruze</strong> 19th @DateTime.Now.ToString("MMMM")</p>
<p><strong>Rent</strong> 19th @DateTime.Now.ToString("MMMM")</p>